
footer.footer
    img(src="img/footer.png", alt="")
    ul.listItems          
        li: a(href="#") About Us
        li: a(href="#") Download apps
        li: a(href="#") Become a guide
        li: a(href="#") Careers
        li: a(href="#") Contact 
    p &copy; Kunal 
      